@import "tailwindcss";

@theme {
    --animate-fade-in: fade-in 100ms ease-in-out 1 normal forwards;
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    --font-bricolage: "Bricolage Grotesque", system-ui, sans-serif;
    --font-dm: "DM Sans", sans-serif;
}
